<div id='current_location_map'></div>

<!-- The below was added later -->

<!-- <div id='inputs'></div>
<div id='errors'></div>
<div id='directions'>
  <div id='routes'></div>
  <div id='instructions'></div>
</div> -->