<nav class='menu-ui'>
  <a href='#' data-filter='all'>Show all</a>
  <a id="whatever" href='#' data-filter='0.5-mile'>0.5-mile radius</a>
  <a href='#' data-filter='1-mile'>1-mile radius</a>
  <a href='#' class='active' data-filter='2-mile'>2-mile radius</a>
  <a href='#' data-filter='5-mile'>5-mile radius</a>
  <a href='#' data-filter='10-mile'>10-mile radius</a>
</nav>

<input id='search_2' class='search-ui' placeholder='coordinates here'>

<!-- <input id='search' class='search-ui' placeholder='Find family e.g. "Smith"' /> -->

<div id='current_location_map'></div>

<!-- The below was added later -->

<!-- <div id='inputs'></div>
<div id='errors'></div>
<div id='directions'>
  <div id='routes'></div>
  <div id='instructions'></div>
</div> -->