

<!-- This will just be a static map image or video demo (with play/pause button) to show users how to use the site before they login/register -->

<!-- <p>This will be the left-side view on non-logged in page</p> -->

<div class="school-logo"><img src="/assets/AIS_logo"></div>
<img src="/assets/distance_1" alt="">