<div class="container">
	<main>
		<h4 class="centered-text">Welcome to Pool-Portal! Each map marker is an AIS family. Click on one close to home to see how much you could save by carpooling!</h4>
		<div class="row">
			<div id="test" class="col-md-6">
				<%= render 'main/current_location_map' %>
			</div>
			<div class="col-md-5 col-md-offset-1 right-side-div">
				<br>
				<br>
				<p>For the most accurate savings estimates, we recommend considering families who live close to you. Savings estimates are based on a 25 MPG fuel economy, $<%= @cur_price %>/G gas prices, Google Maps time and distance estimates, and an equal sharing of carpool responsibilities between families.</p>

				<p>For carpools with families living closer to AIS than you do, it may make more sense for you to drop your children off at their house on days when they have pool duty than for them to come pick up your children. The savings for such an arrangement are not reflected here.</p>
			</div>
		</div>
	</main>
</div>