<div class="container">
	<main>
		<div class="row">
			<div id="test" class="col-md-2">
				<%= render 'left_panel' %>
			</div>
			<div class="col-md-4">
				<h2>Welcome to Pool-Portal! Just login with your AIS username and password to get started.</h2>
				<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/PqFFQB64JS8" frameborder="0" allowfullscreen></iframe> -->
			</div>
		</div>
	</main>
</div>