<% provide(:title, "Log in") %>
<div class="container">
	<main>
		<div class="row">
			<div id="test" class="col-md-6">
				<%= render 'main/left_panel' %>
			</div>
			<div class="col-md-5 col-md-offset-1 right-side-div">
				<div class="row">
				  <div class="col-md-6 col-md-offset-3">
				  	<%= render 'login' %>
				  </div>
				</div>
			</div>
		</div>
	</main>
</div>