/* --- DEBUGGER CSS --- */

/** {
	border: 1px solid red;
}*/

/* ------ Mapbox ------ */

.menu-ui {
	background:#fff;
	position:absolute;
	top:35px;right:30px;
	z-index:1;
	border-radius:3px;
	width:120px;
	border:1px solid rgba(0,0,0,0.4);
}
.menu-ui a {
	font-size:13px;
	color:#404040;
	display:block;
	margin:0;padding:0;
	padding:10px;
	text-decoration:none;
	border-bottom:1px solid rgba(0,0,0,0.25);
	text-align:center;
}
.menu-ui a:first-child {
	border-radius:3px 3px 0 0;
}
.menu-ui a:last-child {
	border:none;
	border-radius:0 0 3px 3px;
}
.menu-ui a:hover {
	background:#f8f8f8;
	color:#404040;
}
.menu-ui a.active,
.menu-ui a.active:hover {
	background:#3887BE;
	color:#FFF;
}

.search-ui {
	position:absolute;
	top:35px;
	right:350px;
	z-index:1000;
}

/* ------------------------- */

.centered-text {
	text-align: center;
}

/* ------------------------- */

.school-logo {
	/*width: 100px;*/
	/*height: 100px;*/
}

/* ------------------------- */

/*.savings-imgs {
	opacity: 0.4;
	width: 100%;
	height: 100%;
	position: relative;
}*/

/* ------------------------- */
/* ------------------------- */
/* ------------------------- */
/* ------------------------- */
/* ------------------------- */

.whole-box {
	border: 2px solid black;
	border-radius: 5px;
}

.explanation {
	text-align: center;
	margin-bottom: 10px;
}

.send-message {
	margin-left: 10px;
}

/* --- Chart Stuff --- */

.savings-text {
	z-index: 20;
	text-align: center;
}

.chart_time {
	width: 50%;
	height: 100%;
	float: left;
	/*background-image: url("/assets/savings/time_2");*/
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	opacity: 0.8;
	text-align: center;
}

.chart_miles {
	width: 50%;
	height: 100%;
	float: left;
	/*background-image: url("/assets/savings/odometer_1");*/
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: center;
	opacity: 0.8;
	text-align: center;
}

.chart_emissions {
	width: 50%;
	height: 100%;
	float: left;
	/*background-image: url("/assets/savings/emissions_2");*/
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center;
	opacity: 0.8;
	text-align: center;
}

.chart_gas {
	width: 50%;
	height: 100%;
	float: left;
	/*background-image: url("/assets/savings/gas_2");*/
	background-repeat: no-repeat;
	background-size: 45%;
	background-position: center;
	opacity: 0.8;
	text-align: center;
}

/* --- MAP --- */

#current_location_map { 
	margin-top: 25px;
	width: 100%;
	height: 560px;
	border-radius: 5px;
	border: 2px solid black;
}

/* --- Pool Option Partial --- */

.whole-box {
	margin-top: 25px;
	width: 100%;
	height: 560px;
}

.pic-and-info {
	height: 15%;
	width: 100%;
}

/*.pic-div {
	width: 25%;
	float: left;
}

.pic {
	width: 25px;
	height: 25px;
}*/

.family-info {
	height: 100%;
	margin-left: 10px;
	float: left;
}

.pool-info {
	height: 65%;
	width: 100%;
}

.first-row {
	width: 100%;
	height: 50%;
}

.second-row {
	width: 100%;
	height: 50%;
}

.no_carpool {
	height: 100%;
	width: 50%;
	float: left;
}

.if_carpool {
	height: 100%;
	width: 50%;
	float: right;
}

.send-message {
	margin-left: 10px;
}

/* --- END --- 